<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <mat-card style="width:500px;height:300px;">
      <mat-card-title align="center">login</mat-card-title>

      <mat-card-content align="center">
        <form>
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
              <input matInput placeholder="name" required>

            </mat-form-field>
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
              <input matInput placeholder="password" required>

            </mat-form-field>
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header style="color:red;">

                  <mat-panel-title>
                    click me
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-panel-description>

                  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
                    <mat-card>
                      <mat-card-content>
                        <div>
                          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="true" chartType="bar"></canvas>
                        </div>
                      </mat-card-content>
                    </mat-card>
                    <mat-card>
                      <mat-card-content>
                        <div>
                          <canvas baseChart [datasets]="lineChartData " [labels]="lineChartLabels " [options]="lineChartOptions" chartType="line"></canvas>
                        </div>
                      </mat-card-content>

                      <mat-card-content>
                        <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                          <mat-select class="select" placeholder="State" required>
                            <ng-template ngFor let-option [ngForOf]="states" let-i="index">
                              <mat-option [value]="option">{{option}}</mat-option>
                            </ng-template>
                          </mat-select>

                        </mat-form-field>
                      </mat-card-content>

                      <mat-card-content><button mat-button [matMenuTriggerFor]="menu">Menu</button>
                        <mat-menu #menu="matMenu"><button mat-menu-item> item1 </button><button mat-menu-item> item2 </button></mat-menu>
                      </mat-card-content>

                      <mat-card-content>
                        <div fxLayout="column">
                          <table mat-table [dataSource]="dataSource" class="table-width-fix">

                            <tr mat-row *matRowDef="let row; columns: [&apos;position&apos;,&apos;name&apos;,&apos;weight&apos;,&apos;symbol&apos;];"></tr>

                            <ng-container matColumnDef="position">
                              <th mat-header-cell *matHeaderCellDef></th>
                              <td mat-cell *matCellDef="let table; let i = index;">{{table.position}}</td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                              <th mat-header-cell *matHeaderCellDef></th>
                              <td mat-cell *matCellDef="let table; let i = index;">{{table.name}}</td>
                            </ng-container>

                            <ng-container matColumnDef="weight">
                              <th mat-header-cell *matHeaderCellDef></th>
                              <td mat-cell *matCellDef="let table; let i = index;">{{table.weight}}</td>
                            </ng-container>

                            <ng-container matColumnDef="symbol">
                              <th mat-header-cell *matHeaderCellDef></th>
                              <td mat-cell *matCellDef="let table; let i = index;">{{table.symbol}}</td>
                            </ng-container>
                          </table>
                        </div>
                      </mat-card-content>

                      <mat-card-content>
                        <mat-radio-group name="rdgroup" [labelPosition]="&apos;after&apos;">Seasons</mat-radio-group>
                        <mat-radio-button value="option1" required checked=" oncheck()"></mat-radio-button>
                      </mat-card-content>
                    </mat-card>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel>
            </mat-accordion>
          </div><button mat-raised-button color="primary">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>